<%= form_tag '/login' do %>

<p>
<form accept-charset="UTF-8" action="/login" method="post">
	<p class="login"><br>
	<%= image_tag("logo_darkbg.png", height: '250') %><br>
		<input id="email" name="email" type="text" placeholder="email"><br>
		<input id="password" name="password" type="password" placeholder="wachtwoord"><br>
		<input class="commit" name="commit" type="submit" value="inloggen">
	</p>

</form>
</p>

<% end %>

