<div class="black-background" action="delete" style="display: none">
</div>


<div class="delete-combo top-10">

	<button type="button" action="delete" class="btn delete-item">Marker verwijderen</button>
	<div class="delete-icon-white"></div>
</div>

<div class="new-form" action="delete" style="display: none">
	<h2>Weet je het zeker?</h2>
	<p>Het verwijderen kan niet meer ongedaan gemaakt worden.</p>
	<%= link_to 'Verwijder', marker_path(@marker), method: :delete, :class => 'btn delete-item' %>
	<div class="delete-icon-white"></div>
	<button type="button" class="btn btn-primary cancel"  style="margin-left:35px;">Annuleer</button>
</div>
