<div class="black-background" action="new-marker" style="display: none">
</div>

<div class="new-form" action="new-marker" style="display: none">

	<h2>Marker aanmaken</h2>

	<%= form_for([@city, @city.markers.build]) do |f| %>
	    <%= f.text_field :name, placeholder: 'Marker naam (Engels)' %>
	  
	  </p>
	  <p>
	    <%= f.submit "Aanmaken", :class => "btn btn-primary" %>
	    <button type="button" class="btn btn-primary cancel">Annuleren</button>
	  </p>
	<% end %>

</div>

<p class="add-country add-btn" action="new-marker">+</p>
