<div class="black-background" action="new-marker" style="display: none">	
</div>

<div class="new-form" action="new-marker" style="display: none">

	<h2>Marker aanmaken</h2>

	<%= form_for([@city, @city.markers.build]) do |f| %>
	    <%= f.text_field :name, placeholder: 'Marker naam' %>
	    <%= f.hidden_field :marker_type, value: 0 %>
	  </p>
	  <p>
	    <%= f.submit "Maak aan" %>
	  </p>
	<% end %>

</div>

<p class="new-btn button" action="new-marker">Marker toevoegen</p>
