<%

items = ['Apotheken','Bus tour','Bushalte','Casino','Dierentuin','Haven','Luchthaven','Markt','Metro station','Monument','Musea','Night life','Openbaar vervoer','Openbare toilet','Park','Parkeerplaats','Pinautomaat','Restaurant','Rondvaart','Toeristeninformatie','Tram halte','Trein station','Uitzichtpunt','Veerboot','Winkelstraat','Ziekenhuis']

%>

<tr >
	<td class="link" data-href='<%= marker_path(marker) %>'>
		<%= link_to marker.name, marker_path(marker) %>
	</td>
	<td class="link" data-href='<%= marker_path(marker) %>'><%= items[marker.marker_type] %></td>
</tr>
