<div class="container content">
	<div class="col s12 n12 l12 xl12">
		<h2>Landen overzicht</h2>
		<table>
		  <tr>
		    <th>Land</th>
		  </tr>

		  <% @countries.each do |country| %>
		    <tr data-href='<%= country_path(country) %>'>
		      <td><%= link_to country.country_name, country_path(country)%></td>
		    </tr>
		  <% end %>
		</table>
<br>
		<%= render 'countries/form' %>
<br>

	</div>
	<div class="clear"></div>
</div>