
<h2>Landen overzicht</h2>
<table>
  <tr>
    <th>Land</th>
  </tr>

  <% @countries.each do |country| %>
    <tr data-href='<%= country_path(country) %>'>
      <td><%= link_to country.country_name, country_path(country)%></td>
    </tr>
  <% end %>
</table>

<%= render 'countries/form' %>