<div class="container ">
		<div class="page-header">
			Kies het land
			<span>
			Waarin u bewerkingingen in wilt voeren,<br/>een stad wilt toevoegen of welke wilt verwijderen.
			</span>
		</div>
		<div  class="country-table weird-table">
			<table>
				<tbody>
				  <% @countries.each do |country| %>
				    <tr>
				      <td data-href='<%= country_path(country) %>'><%= link_to country.country_name_nld, country_path(country)%>
								<div class="delete-icon table-icon"></div>
							</td>
				    </tr>
				  <% end %>
				</tbody>
			</table>
			<%= render 'countries/form' %>
		</div>

	</div>
</div>
