<%= form_for([@city, @city.routes.build]) do |f| %>
    <%= f.hidden_field :name_nld, value: 'Nieuwe route' %>
    <%= f.hidden_field :afstand, value: 0 %>
  </p>
  <p>
    <%= f.submit "Niewe route" %>
  </p>
<% end %>