<div class="black-background" action="new-route" style="display: none">
</div>

<div class="new-form" action="new-route" style="display: none">

	<h2>Route aanmaken</h2>
	<p>
		<%= form_for([@city, @city.routes.build]) do |f| %>
	    <%= f.text_field :name_eng, placeholder: 'Route naam (Engels)' %>
	    <%= f.hidden_field :afstand, value: 0 %>
	</p>
	<p>
		 <%= f.submit "Aanmaken", :class => "btn btn-primary" %>
		 <button type="button" class="btn btn-primary cancel">Annuleren</button>
	</p>
	<% end %>

</div>

<p class="add-country add-btn" action="new-route">+</p>
