<div class="black-background" action="delete" style="display: none">
</div>


<div class="delete-combo top-10">
	<%= link_to 'Stad verwijderen', city_path(@city), method: :delete, data: { confirm: 'Weet je het zeker?' }, :class => 'btn delete-item' %>
	<div class="delete-icon-white"></div>
</div>

<div class="new-form" action="delete" style="display: none">
	<h2>Weet je het zeker?</h2>
	<p>De bijbehorende routes en markers zullen ook verwijderd worden.</p>
	<%= link_to 'Verwijder', city_path(@city), method: :delete, :class => 'testt' %>
	<p class='cancel'>Annuleer</p>
</div>
