<div class="black-background" style="display: none">
</div>

<div class="new-form" style="display: none">

	<h2>Stad aanmaken</h2>

	<%= form_for([@country, @country.cities.build], :html => {:multipart => true}) do |f| %>
	  <p>
	    <%= f.text_field :city_name, placeholder: 'Nieuwe stad (Engels)', required: 'required' %>
	  </p>
	  <p>
	    <%= f.submit "Aanmaken", :class => "btn btn-primary" %>
	    <button class="btn btn-primary cancel">Annuleren</button>
	  </p>
	  
	<% end %>
</div>

<p class="add-country add-btn">+</p>
