<%= form_for([@country, @country.cities.build], :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.hidden_field :city_name, value: 'nieuwe stad' %>
  </p>
  <p>
    <%= f.submit "Nieuwe stad" %>
  </p>
<% end %>