/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html,body {
	background-color: #ebeced; 
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	line-height: 24px;
}

* {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

.file_input_style {
    display: block;
    width:200px;
    height: 30px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #fff !important;
    background:#33bfbe;
}

.file_input {
    display: block;
    position: relative;
    text-align: right;
    background-color: red;
    top:-25px;
    width:300px;
    height: 30px;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.file_input:hover {
    cursor: pointer;
}

a:hover {
	color: #ebeced; 
}

.content {
    background-color: #fff;
}

.content a {
    color:#000;
}

.content a:hover {
    color:#333;
}

.top-bar {
	display: block;
	width: 100%;
	height: 25px;
	color: #fff;
	background-color: none;
}

.breadcrumbs {
	position: relative;
	height: 45px;
	color: #fff;
	background-color: #E96745;
	clear:both;
}

.breadcrumbs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs ul li {
	display: block;
	height: 20px;
	padding: 10px 10px 10px 10px;
	float: left;
}

.breadcrumbs ul li.active {
	border-bottom: 5px solid #33bfbe;
}
.top-bar p {
	margin: 0 0 0 12px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr a, tr a:hover {
    color:#000;
}

td,th {
    padding-left: 5px;
}

tr {
    color:#000;
	border-top:1px solid #fff;
}
tr:nth-child(even) {background: #e9e9e9}
tr:nth-child(odd) {background: #DDD}
tr:hover {
    cursor: pointer;
background-color: #BBB;
}
tr:hover a {
	color:#333;

}

table tr td {
	border: 0px;
}

th {
	text-align:left;
    cursor: initial;
}

.clear {
	clear:both;
}

.tabs p:hover {
    cursor: pointer;
    background:#36e6e5;
}

.tabs p.active {
    background:#36e6e5;
}

.tabs p {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    background:#33bfbe;
    width:100px;
    float: left;
    margin: 0;
}

.tabs-content {
    padding: 25px;
    background:#e9e9e9;
}

.tabs-content textarea {
    border :none;
    padding: 5px;
    width: 550px;
    height: 150px;
}

input[type=submit],div.upload,.button,.deleteButton {
	padding:10px 15px; 
	background:#33bfbe; 
	font-size: 12px;
	color:#ffffff;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width:170px;
	cursor: pointer;
}

.deleteButton {
    color: #ffffff !important;
    text-align: center;
    float: right;
}

input[type=submit]:hover,input[type=file]:hover,.button:hover {
	color: #ebeced; 
}

.logout {
    display: block;
    float: right;
    text-align: center;
    height: 10px;

}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 40px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

.top-bar {
    background-color: #000000;
    height: 30px;
    line-height: 30px;
    width:100%;
}

.black-background {
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    z-index: 888;
}

.new-form {
    display: block;
    position:fixed;
    left: 50%; top: 50%;
    margin-left:-250px;
    margin-top:-75px;
    width: 500px;
    height: 150px;
    display: block;
    background-color: white;
    z-index: 888;
    padding: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*input[type=file] {
	position: relative;
	content: 'asdasd';
	width: 100px;
	padding-left:-100px;
	background:#33bfbe; 
	-webkit-user-select: none;
	 text-align: left;
}

input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}*/
/* FrameWork */
.container {
	margin:0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 1100px) {
    .container {
        width: 1000px;
    }
}
@media (min-width: 1281px) {
    .container {
        width: 1200px;
    }
}

.col {
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    margin:0 -12px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}
/* 12 column grid */
.s1 {width:8.33%; }
.s2 {width:16.66%;}
.s3 {width:25%;   }
.s4 {width:33.33%;}
.s5 {width:41.66%;}
.s6 {width:50%;   }
.s7 {width:58.33%;}
.s8 {width:66.66%;}
.s9 {width:75%;   }
.s10{width:83.33%;}
.s11{width:91.66%;}
.s12{width:100%;  }

@media (min-width: 768px) {
    .m1 {width:8.33%; }
    .m2 {width:16.66%;}
    .m3 {width:25%;   }
    .m4 {width:33.33%;}
    .m5 {width:41.66%;}
    .m6 {width:50%;   }
    .m7 {width:58.33%;}
    .m8 {width:66.66%;}
    .m9 {width:75%;   }
    .m10{width:83.33%;}
    .m11{width:91.66%;}
    .m12{width:100%;  }
}
@media (min-width: 1100px) {
    .l1 {width:8.33%; }
    .l2 {width:16.66%;}
    .l3 {width:25%;   }
    .l4 {width:33.33%;}
    .l5 {width:41.66%;}
    .l6 {width:50%;   }
    .l7 {width:58.33%;}
    .l8 {width:66.66%;}
    .l9 {width:75%;   }
    .l10{width:83.33%;}
    .l11{width:91.66%;}
    .l12{width:100%;  }
}
@media (min-width: 1281px) {
    .xl1 {width:8.33%; }
    .xl2 {width:16.66%;}
    .xl3 {width:25%;   }
    .xl4 {width:33.33%;}
    .xl5 {width:41.66%;}
    .xl6 {width:50%;   }
    .xl7 {width:58.33%;}
    .xl8 {width:66.66%;}
    .xl9 {width:75%;   }
    .xl10{width:83.33%;}
    .xl11{width:91.66%;}
    .xl12{width:100%;  }
}