/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */

html,body {
	background-color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin: 0;
	line-height: 24px;
	color: #595959;
	padding-bottom: 70px;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

a {
	color: #fff;
	text-decoration: none;
}

.alert {
	position: relative;
	display: block;
	text-align: center;
	margin-left: 0 auto;
	font-weight: bold;
	border: 2px solid;
	width:575px;
	border-radius: 3px;
	margin: 10px 0;

}

.alert-success {
	background-color: #d3f0ac;
	color: green;
}

.file_input_style {
    display: block;
    width:200px;
    height: 35px;
		float:left;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    line-height: 35px;
		font-size: 12px;
    color: #fff !important;
    background:#33bfbe;
		margin-top:12px;
}

.file_input {
    display: block;
    position: relative;
    text-align: right;
    background-color: red;
    top:-35px;
    width:100%;
    height: 100%;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.file_input:hover {
    cursor: pointer;
}

a:hover {
	color: #ebeced;
}

.uploadscreen {
	display: block;
    position:fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .75;
}

.uploadicon {
	position:fixed;
    top: 50%;
    left: 50%;
	margin-left: -150px;
	margin-top: -25px;
	font-size: 25px;
}


table {
	width: 100%;
	border-collapse: collapse;
}

tr a, tr a:hover {
    color:#000;
}
tr {
	max-height: 54px;
	overflow: hidden;
}
td,th {
    padding-left: 5px;
}
.country-table td:nth-child(2){
		color: #BBB;
		font-size: 0.8em !important;
		position: absolute;
		width: 580px !important;
		margin-left: -580px;
		line-height: 85px;
		height: 54px;
}

.tabs p:hover {
    cursor: pointer;
    background:#36e6e5;
}

.tabs p.active {
    background:#36e6e5;
}

.tabs p {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    background:#33bfbe;
    width:100px;
    float: left;
    margin: 0;
}

.tabs-content {
    padding: 25px;
    background:#e9e9e9;
}

.tabs-content textarea {
    border :none;
    padding: 5px;
    width: 550px;
    height: 150px;
}


.hamburger{
	width:22px;
	height: 22px;
	background: url('hamburger.png');
	background-size: cover;
	float: right;
	margin-top: 14px;
	cursor: pointer;
}
.hb-menu{
	display: none;
	width: 160px;
	border: 1px solid #ee5252;
	background: #FFF;
	color: #ee5252 !important;
	margin-top: 42px;
	margin-left: -130px;
	position: relative;
	z-index: 999;

}
.hb-caret{
	width: 10px;
  height: 10px;
  position: absolute;
  background: #FFF;
  right: 14px;
  top: -5px;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hb-menu a {
	display: block;
	padding: 0 10px;
	line-height: 40px;
	border-bottom: 1px solid #DDD;
	text-align: center;
	color: #ee5252;
	cursor: pointer;
}
.hb-menu a:hover{
	color: #FFF;
	background: #e53637;
}
.upload-form{
	width:360px;
	height: 360px;
	background: #EAEAEA;
	margin: 20px;
}
.upload {
	width: 180px;
	height: 180px;
	float: left;
	border: 2px solid #FFF;
	color: transparent;
	font-size: 60px;
	text-align: center;
	line-height: 180px;
	background: url('add-plus.png');
	position: relative;
}
.upload:hover{
	background: #DDD url('add-plus.png');
	background-position: -180px 0;
}
div.upload input {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}
.upload a{
	position: absolute;
	top:15px;
	right: 15px;
	width:16px;
	height:20px;
	background: url('delete.png');
	opacity: 0;
}
.upload:hover a{
	opacity: 1;
}
.upload img {
	background: #FFF;
	width: 180px;
	height: 180px;
}
audio {
	float: left;
	margin-top:12px;
}
.delete-audio {
	display: inline-block;
	width:16px;
	height:20px;
	background: url('delete.png');
	float: left;
	margin-top:16px;
	margin-left: 16px;
}
.top-bar {
    background-color: #000000;
    height: 30px;
    line-height: 30px;
    width:100%;
}

.black-background {
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    z-index: 888;
		cursor: pointer;
}

.btn-cancel{
	float:left;
}

.new-form {
    display: block;
    position:fixed;
    left: 50%;
		top: 10%;
    margin-left:-250px;
    width: 500px;

    display: block;
    background-color: white;
    z-index: 888;
    padding: 15px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.new-form > h2 {
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
*/

/** Real Deal **/
* {
	box-sizing: border-box;
}
.container {
		width: 1200px;
		margin:0 auto;
		position: relative;
}
header {
	height: 65px;
	width: 100%;
	background: radial-gradient(#e96745, #f05152);
	line-height: 49px;
	color: #FFF;
	padding-top: 8px;
}
.logo {
	width: 49px;
	height: 49px;
	border-radius: 100%;
	background: url('sightguide_logo.png');
	display: inline-block;
	float: left;
	margin-left: 10px;
}
.username {
	display: inline-block;
	width: 500px;
	margin-left: 290px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}
.logout {
	width: 125px;
	height: 35px;
	background: #33bfbe;
	color:#FFF;
	border-radius: 5px;
	margin-top: 7px;
	line-height: 36px;
	float: right;
}
.logout:hover{
	background: #2ca2a2;
	color:#FFF;
}
.crumbs {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #EAEAEA;

}
.crumbs a {
	color: #595959;
}
.crumbs a:hover li {
	text-decoration: underline;
}
.crumb-divider{
	padding: 0 12px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	display: inline-block;
}
.icon-td {
	max-width: 45px;
	padding: 0 15px;
}
.delete-icon {
	width:16px;
	height:20px;
	background: url('delete.png');
	opacity: 0;
}
tr:hover  .delete-icon{
	opacity: 1;
}

.add-btn {
	cursor: pointer;
}
/* Buttons */
.btn {
	color: #FFF !important;
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: auto;
	outline: none;
	border: none;
	text-align: center;
	font-size: 12px;
	margin-top: 12px;
	box-shadow: none !important;
}
.btn-primary , .button,.deleteButton {
	background:#33bfbe;
}
.btn-primary:hover ,  .deleteButton:hover {
	background: #2ca2a2;
}

.deleteButton {
    color: #ffffff !important;
    text-align: center;
    float: right;
}
.delete-combo{
	position: absolute;
  right: 0;
  top: -10px;
}
.delete-item {
	padding-right: 50px;
	display: inline-block;
	background: #e96745;
}
.delete-item:hover {
	background: #f05152;
}
.delete-icon-white {
	margin-left: -30px;
	display: inline-block;
	vertical-align: middle;
	width:14px;
	height:16px;
	background: url('delete-white.png');

}
input[type=submit]:hover,input[type=file]:hover,.button:hover {
	color: #ebeced;
}
/* Form elements */
input, textarea{
	width: 100%;
	height: 35px;
	border: 1px solid #979797;
	-webkit-box-shadow:inset 0 1px 3px 0 #858585;
	box-shadow:inset 0 1px 3px 0 #858585;
	border-radius: 5px;
	padding: 0 10px;
	outline: none;
}
textarea {
	min-height: 200px;
	resize: vertical;
	margin-top:20px;
	padding: 10px;
}
.col-50{
	width: 50%;
	float:left;
}
.btn-holder{
	height: 50px;
}
.float-right{
	float: right;
}
#en, #es {
  display: none;
}
.spacer{
	width: 100%;
	height: 50px;
}
.image {
	width: 50%;
	float: left;
	border: 1px solid #FFF;
}
.w360{
	width: 360px;
}
#googleMap {
	width: 358px;
	height: 358px;
	margin-left:24px;
}
.table-icon{
	position: absolute;
  left: 555px;
  margin-top: -35px;
  margin-right: 15px;
}
.marker-table td a{
	width: 100%;
	display: block;
}
select{
	margin-left: 24px;
	width:356px;
	border: none;
	border-radius: 0 !important;
	color: #FFF;
	padding: 0 20px;
	margin-top: 20px;
	cursor: pointer;
	background: #33bfbe;
	height: 55px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	font-size: 12px;
	outline: none;
}
select:hover{
	background: #2ca2a2;
}
.caret{
	background: url('caret.png');
    width: 17px;
    height: 17px;
    margin-left: 340px;
    margin-top: -35px;
    margin-bottom: 35px;
    pointer-events: none;
    position: relative;
    z-index: 999;
}
.breadcrumbs .active {
	color: #000;
	font-weight: 800;
}
.breadcrumbs .active:hover {
	text-decoration: none;
	cursor: default;
}
.breadcrumbs{
	padding-left: 10px;
}
.weird-table{
	position: relative;
}
.weird-table .table-icon{
	position: absolute;
  left: 545px;
  margin-top: -35px;
  margin-right: 15px;
}
.top-10{
	top: 10px !important
}
.no-center{
	text-align: left;
}
