// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background:none;
}
html {
	height: 100%;
  background: radial-gradient(rgba(233,103,69,1), rgba(240,81,82,1)); /*Standard*/
}

input[type=text],input[type=password] {
	height: 30px;
	width: 245px;
	padding-left:5px;
	border-radius:3px;
	border:1px solid #eee;
	margin-bottom: 10px;

}

input[type=submit] {
	width: 255px;

}

.login {
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
}

.commit {
	margin: auto 0;
}

