// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* body {
	background:none;
}
html {
	height: 100%;
  background: radial-gradient(rgba(233,103,69,1), rgba(240,81,82,1)); Standard
} */

.user-input {
	height: 30px;
	width: 245px;
	padding-left:5px;
	border-radius:3px;
	border:1px solid #eee;
	margin-bottom: 10px;

}

.user-submit{
	width: 255px;
}

.login {
	text-align: center;
	position: relative;
	display: block;
	width: 100%;
}


.pre-auth-bg {
  background: radial-gradient(#e96745, #f05152);;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 99999;
}
.pre-auth-input{
	width:230px;
	margin-top: 15px;
}
.commit {
	margin-top: 30px;
	width:230px;
}
.add-new-user{
	color:#FFF;
	width: 100%;
	text-align: center;
}
.add-new-user:hover{
	text-decoration: underline;
}
