// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.view_in_maps{
  height: 35px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  background: #33bfbe;
  color:#FFF;
  cursor: pointer;
  border: 4px solid #33bfbe;
}
.view_in_maps:hover{
  background: #2ca2a2;
  border: 4px solid #2ca2a2;
}
#map {
  width: 580px;
  height: 400px;
  margin: 10px auto;
}
